@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');




/*https://paletadecores.com/paleta/fe4365/fc9d9a/f9cdad/c8c8a9/83af9b/ - PALETA DE CORES*/
*{
padding: 0;
margin: 0;
list-style: none;
text-decoration: none;
}



header{
display: flex;
justify-content: space-between;
   align-items: center;
padding: 80px;
background-color: #fe4365;
}



header img{
    width: 100px;
    align-items: start;

}


header div nav ol{
   gap: 20px;
display: flex;
}


header li{
   font-size: 22px;
   color: #fff;
   font-weight: 800;
}


header div nav ol a li:hover{
    color: aqua;
    transition: 0.8s;
    cursor: pointer;
}

#section1{
    padding: 200px;
    background-color: #fc9d9a;
}


.sorvete-pai{
    display:flex;
    justify-content: space-evenly;
    gap: 20px;
  margin-bottom: 35px;
}


.sorvete-pai div{
    width: 300px;
    height: 300px;
    background-color: #83af9b;
    border-radius: 20px;
}


.sorvete-pai div:hover{
    cursor: pointer;
    transition: 0.8s;
    transform: scale(1.1,1.1);
}


.div-sorvetinho1{
    background-image: url(imagens/sorvertinho1.jpg);
background-position: center;
background-size: cover;}


.div-sorvetinho2{
   background-image: url(imagens/Sorvetinho\ 2.jpg);
background-size: cover;}

.div-sorvetinho3{
    background-image: url(imagens/Sorvetinho\ 3.jpg);
    background-position: center;
    background-size: cover;
}


.div-sorvetinho4{
    background-image: url(imagens/Sorvetinho\ 4.jpg);
    background-size: cover;
}

.div-sorvetinho5{
    background-image: url(imagens/div\ sorvetinho\ 5.jpg);
 background-position: center;
background-size: cover;}


.div-sorvetinho6{
    background-image: url(imagens/sorvetinho\ 6.jpg);
    background-position: center;
    background-size: cover;
}










.section2{
padding: 250px;
background-image: url(imagens/img\ de\ fundo.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}


.class-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.section2 button{
    width: 170px;
    height: 50px;
border-radius: 20px;
background-color: black;
color: #fff;
}

.section3{
    padding: 200px;
background-color: #c8c8a9;

}



footer{
padding: 80px;
background-color: #83af9b;
}