@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html{
    scroll-behavior: smooth;
}


/*https://paletadecores.com/paleta/fe4365/fc9d9a/f9cdad/c8c8a9/83af9b/ - PALETA DE CORES*/
*{
padding: 0;
margin: 0;
list-style: none;
text-decoration: none;
}



header{
        
    justify-content: space-between;
       align-items: center;
    padding: 40px;
    background-color: #fe4365;
    }
    

.img {
display: flex;
justify-content: center;
align-items: center;
font-size: 100px
;
}

.lista ol{
display: flex;
gap: 20px;

}


.lista ol li{
color: aliceblue;
font-size: 20px;
font-weight: 600;
}


.lista ol li:hover{
color: aqua;
transition: 1.3s;
cursor: pointer;
}


    header img{
        width: 100px;
       display: flex;
       justify-content: center;
       align-items: center;
       
    
    }

#section1{
    padding: 200px;
    background-color: #fc9d9a;
}


.sorvete-pai{
    display:flex;
    justify-content: space-evenly;
    gap: 20px;
  margin-bottom: 35px;
}


.sorvete-pai div{
    width: 300px;
    height: 300px;
    background-color: #83af9b;
    border-radius: 20px;
}


.sorvete-pai div:hover{
    cursor: pointer;
    transition: 0.8s;
    transform: scale(1.1,1.1);
}


.div-sorvetinho1{
    background-image: url(imagens/sorvertinho1.jpg);
background-position: center;
background-size: cover;}


.div-sorvetinho2{
   background-image: url(imagens/Sorvetinho\ 2.jpg);
background-size: cover;}

.div-sorvetinho3{
    background-image: url(imagens/Sorvetinho\ 3.jpg);
    background-position: center;
    background-size: cover;
}


.div-sorvetinho4{
    background-image: url(imagens/Sorvetinho\ 4.jpg);
    background-size: cover;
}

.div-sorvetinho5{
    background-image: url(imagens/div\ sorvetinho\ 5.jpg);
 background-position: center;
background-size: cover;}


.div-sorvetinho6{
    background-image: url(imagens/sorvetinho\ 6.jpg);
    background-position: center;
    background-size: cover;
}










.section2{
padding: 250px;
background-image: url(imagens/img\ de\ fundo.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}


.class-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}


.section2 button{
    width: 170px;
    height: 50px;
border-radius: 20px;
background-color: black;
color: #fff;
font-weight: 600;
}




.section2 button:hover{
    box-shadow: 10px 10px 10px whitesmoke;
    transition: 0.8s;
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}

.section3{
    padding: 200px;
background-color: #fc9d9a;
}

.localização{
    display: flex;
   margin-left: 30px;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

.localização h2{
    color: yellow;
   
}



.mapa{
    display: flex;
    justify-content: center;
  
}

.sorvete-pai2 div{
margin-top: 50px;
    width: 350px;
    height: 350px;
border-radius: 20px;
margin-left: 30px;
display: flex;
justify-content: center;
align-items: center;
}

.sorvete-pai2 div:hover{
    width: 300px;
    height: 300px;
    transition: 0.8s;
    cursor: pointer;
}

.div-sorvetinho7{
    background-image: url(imagens/sessao\ mapa3.jpg);
  background-position: center;
    background-size: cover;
}

.mapa iframe{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
padding: 60px;
background-color: #83af9b;
display: flex;
justify-content: space-evenly;
text-align: center;
align-items: center;
}

.sociais i{
  font-size: 30px;
gap: 20px;
border-radius: 20px;
background-color: aliceblue;
padding: 15px;
cursor: pointer;
}


.sociais i:hover{
    transition: 0.9s;
    cursor: pointer;
background-color: black;
color: #fff;
}





